*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    background-color: pink;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: skyblue;
    border-radius: 12px;
    transition: all 0.3s ease;
}
::webkit-scrollbar-thumb:hover {
    background: skyblue;
}

nav{
    background-color: white;
    overflow: hidden;
}

.nav-container {
    float: left;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-container.links:hover {
    display: flex;
    background-color: pink;
    color: white;
}

.nav-container
.links a{
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}